body{
	margin: 0;
}
ul{
	overflow: hidden;
	background-color: #333;
	padding: 0px;
	margin: 0;

}
li{
	float:left;

}
li a{
	display: inline-block;
	text-decoration: none;
	color:white;
	padding: 14px 16px;
}
li a:hover {
  background-color: #111;
}
h1{
	background-color: lightblue;
	margin: 0;
	text-align: center;
	color:navy;
	padding:10px 0;
}
table{
	border-collapse: collapse;
	width: 100%;
	height: auto;
}
td,th{
	border: solid 1px #ddd;
	padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}